.btn-google{
    background: #dd4b39;
    color: #fff;
    width: 100%;
}
.btn-facebook{
    background: #3007eb;
    color: #fff;
    width: 100%;
}
.btn-github{
    background: #0a0200;
    color: #fff;
    width: 100%;
}
.btn-apple{
    background: #2b2929;
    color: #fff;
    width: 100%;
}
.btn-microsoft{
    background: #5fcbe6;
    color: #fff;
    width: 100%;
}
.btn-gcj{
    background: #5fe6ae;
    color: #fff;
    width: 100%;
}
.btn-twitter{
    background: #5fcbe6;
    color: #fff;
    width: 100%; 
}
.btn-gamecenter{
    background: #e65fae;
    color: #fff;
    width: 100%;
}
.btn-yahoo{
    background: #c109e6;
    color: #fff;
    width: 100%;
}
.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
}

@media (max-width: 992px) {
    .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    }
}

.credits a {
    color: #18d26e;
    transition: 0.3s;
}

.credits a:hover {
    color: #fff;
}
.navbar-brand img {
    width: 75px;
    height: 75px;
}