<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://as1.ftcdn.net/v2/jpg/03/11/01/66/500_F_311016657_QTAiyi90NR5WVmeLxEmRanRVb2J7yzsE.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">UserInfo</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center p-4">
        
        <div class="col-md-6">
            <form (ngSubmit)="login()">
            <h3>Firebase Login Lab Soft 2</h3>
            <div class="form-group p-2">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Ingrese email" required>
        </div>
        <div class="form-group p-2">
            <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Ingrese contraseña" required>
        </div>
        <div class="form-group p-2">
            <button type="submit" class="btn btn-info">Inicia Sesion con correo y contraseña</button>
            <div class="register" class="btn btn-dark float-end"><a href="#" routerLink="/register">Sign In</a></div>
        </div>
        <div class="form-group p-2">
            <button  (click)="onGoogleLogin()"  class="btn btn-lg btn-google" > Inicia con google</button>
        </div>
        <div class="form-group p-2">
            <button  (click)="onFacebookLogin()"class="btn btn-lg btn-facebook" >Inicia con Facebook</button>
        </div>
        <div class="form-group p-2">
            <button  (click)="onGithubLogin()"class="btn btn-lg btn-github">Inicia con Github</button>
        </div>
        <div class="form-group p-2">
            <button (click)="onTwitterLogin()" class="btn btn-lg btn-twitter">Inicia con Twitter</button>
        </div>
        </form>
        <div class="form-group">
            <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>
        
            <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>
        
        </div>
        </div>
        
    </div>
</div>
<div class="credits">
    Designed by <a href="https://www.linkedin.com/in/juan-felipe-h-3a3b3b13b/"> Juan Hurtado</a>
</div>